.chat-main
  .chat-main__group-info
    .group-detail
      .group-name
        abc
      .group-member
        yuri,yun
    =link_to "Edit", "#", class: "edit-btn"
  .chat-main__message-list
  .chat-main__message-form