.message-box{data: {message: {id: message.id}}}
  .message-date
    .name
      = message.user.name
    .date-time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message
    - if message.content.present?
      %p.message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?