.side-bar
  .side-bar__user-name
    .side-box
      .user-name
        =current_user.name
      .user-icon
        =link_to new_group_path, class: "new-group__icon" do
          =icon('fas', 'edit')     
        =link_to edit_user_path(current_user),class: "account-edit__icon" do
          =icon('fas', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .new-info
        = link_to group_messages_path(group) do
          .group-name
            = group.name
          .new-message
            =group.show_last_message
