.side-bar
  .side-bar__user-name
    .side-box
      .user-name
        yuri
      .user-icon
        =link_to "#",class: "new-group__icon" do
          =icon('fas', 'edit')     
        =link_to "#",class: "account-edit__icon" do
          =icon('fas', 'cog')
  .side-bar__group-list
    .new-info
      .group-name
        abc
      .new-message
        まだメッセージがありません
    .new-info
      .group-name
        abc
      .new-message
        まだメッセージがありません
