* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  height: 100vh;
  .side-bar{
    width: 300px;
    background-color: #253141;
    &__user-name{
      height: 100px;
      background-color: #253141;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      .side-box{
        height: 20px;
        width: 260px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .user-name{
          font-size: 16px;
          color: #ffffff;
        }
        .user-icon{
          width: 60px;
          text-align: right;
          .new-group__icon{
            color: #ffffff;
            text-decoration: none;
          }
          .account-edit__icon{
            color: #ffffff;
            text-decoration: none;
            margin-left: 5px;
          }
        }
      }
    }
    &__group-list{
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 0 20px;
      .new-info{
        .group-name{
          height: auto;
          font-size: 15px;
          color: #ffffff;
          font-weight: bold;
          padding-top: 20px;
          padding-bottom: 5px;
        }
        .new-message{
          height: auto;
          font-size: 11px;
          color: #ffffff;
          font-weight: bold;
          padding-bottom: 40px;
        }
      }
    }
  }
  .chat-main{
    width: calc(100vw - 300px);
    background-color: #ffffff;
    &__group-info{
      height: 100px;
      background-color: #ffffff;
      border-bottom: 1px solid #eeeeee;
    }
    &__message-list{
      height: calc(100vh - 100px - 90px);
      background-color: #fafafa;
    }
    &__message-form{
      height: 90px;
      background-color: #d2d2d2;
    }
  }
}