* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}
.side-bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
  &__user-name{
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    .side-box{
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .user-name{
        font-size: 16px;
        color: #ffffff;
        font-weight: bold;
      }
      .user-icon{
        width: 60px;
        text-align: right;
        .new-group__icon{
          color: #ffffff;
          text-decoration: none;
        }
        .account-edit__icon{
          color: #ffffff;
          text-decoration: none;
          margin-left: 5px;
        }
      }
    }
  }
  &__group-list{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
    .new-info{
      .group-name{
        font-size: 15px;
        color: #ffffff;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 5px;
      }
      .new-message{
        font-size: 11px;
        color: #ffffff;
        font-weight: bold;
        padding-bottom: 40px;
      }
    }
  }
}
.chat-main{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  &__group-info{
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    .group-detail{
      .group-name{
        font-size: 20px;
        color: #333333;
        padding-top: 35px;
      }
      .group-member{
        font-size: 12px;
        color: #999999;
        padding-top: 15px;
      }
    }
    .edit-btn{
      height: 40px;
      width: 72px;
      font-size: 16px;
      color: #38aef0;
      text-decoration: none;
      border: 1px solid #38aef0;
      margin-top: 28px;
      margin-bottom: 28px;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      align-items: center;
    }
  }
  &__message-list{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding-top: 35px;
    padding-left: 40px;
    .message-box{
      margin-bottom: 46px;
      .message-date{
        display: flex;
        margin-bottom: 12px;
        .name{
          font-size: 16px;
          color: #333333;
        }
        .date-time{
          font-size: 12px;
          color: #999999;
        }
      }
      .message{
        font-size: 14px;
        color: #434A54;
      }
    }
  }
  &__message-form{
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    .Form{
      display: flex;
      justify-content: space-between;
      .input-form{
        width: 100%;
        margin-right: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .text{
          height: 50px;
          width: calc(100vw - 300px - 95px - 100px);
          border: 1px solid #fff;
          padding-left: 10px;
        }
        .image-icon{
          position: absolute;
          right: 10px;
          text-decoration: none;
        }
          .Hidden {
            display: none;
          }
      }
      .send-btn{
        font-size: 16px;
        color: #fff;
        background-color: #38aef0;
        border: 1px solid #38aef0;
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
}
